* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.mirror {
  position: absolute;
  width: 306px;
  height: 306px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
